node_modules

!bower_components/
bower_components/*
!bower_components/Office-UI-Fabric/
bower_components/Office-UI-Fabric/*
!bower_components/Office-UI-Fabric/dist/
bower_components/Office-UI-Fabric/dist/*
!bower_components/Office-UI-Fabric/dist/css/