<!DOCTYPE html>
<html>

<head lang="en">
  <title>Office UI Fabric - Components - List Item</title>
  <meta charset="UTF-8">
  <!-- fav icons -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">

  <!-- azure application insights -->
  <script src="/js/azure-app-insights.js" type="text/javascript"></script>
  
  <!-- codepen -->
  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>

  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />
  <link rel="stylesheet" href="/css/styles.min.css" />
</head>

<body>
<div class="ms-Grid">
  <!-- header -->
  <header id="page-header" class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <div id="brand-name" class="ms-font-su ms-fontWeight-semibold ms-fontColor-white">
      Office Fabric UI
    </div>
    <div id="site-tagline" class="ms-font-l ms-fontColor-white ms-fontWeight-light">
      Demos of the front-end framework for building experiences using Office, Office 365 &amp; SharePoint.
    </div>
  </header>

  <!-- navigation -->
  <nav class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <ul id="global-nav">
      <li class="ms-font-l ms-fontWeight-light"><a href="/">Home</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/features">Features</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/components">Components</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/resources.html">Resources</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/status.html">Status</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/contribute.html">Contribute!</a></li>
    </ul>
  </nav>

  <div class="ms-Grid-row">
    <!-- side-nav -->
    <aside id="local-nav" class="ms-Grid-col ms-u-sm-3 ">
      <ul>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Top">Link</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Usage">Usage</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#StandardListItem">Standard List Item</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#ImageListItem">List Item with Image</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#UnreadListItem">Unread List Item</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#FlaggedListItem">Unseen/Flagged List Item</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Selectable">Selectable List Item</a></li>

      </ul>
    </aside>
  
    <!-- page body -->
    <article id="page-main" class="ms-Grid-col ms-u-sm9 ms-font-m">
      <a name="Top"></a>
      <p class="ms-font-su"><a href="/components" class="ms-Link">Components</a> <i class="ms-Icon ms-Icon--caretRight" aria-hidden="true"></i> List Item</p>
      <p class="ms-font-l">Everywhere you look in Office, Office 365 and SharePoint you will find lists. A list is a collection of list items. This page will cover the details and options for the list item control where the list is covered on another page.</p>

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="Usage"></a>
      <p class="ms-font-xxl">Usage</p>
      <p class="ms-font-l">Include a reference to the <code>fabric.css</code> and <code>fabric.components.css</code> files, or the corresponding minified version <code>fabric.min.css</code> and <code>fabric.components.min.css</code>. These are available from the public CDN:<br /><code>&lt;link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" /&gt;</code><br /><code>&lt;link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" /&gt;</code></p>
      <p class="ms-font-l"></p>

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="StandardListItem"></a>
      <p class="ms-font-xxl">Standard List Item</p>
      <p class="ms-font-l">The core list item is comprised of a handful of <code>&lt;div&gt;</code> elements wrapped within a <code>&lt;div&gt;</code> decorated with the CSS class <code>.ms-ListItem</code>. Within the wrapper <code>&lt;div&gt;</code> developers can add three levels of text, a group of action icons that are aligned in the upper-right corner and some meta text. The following snippet shows a simple example of a list item that is constrained to 400px:</p>

      <!-- codepen snippet -->
      <p data-height="365" data-theme-id="19054" data-slug-hash="GpjjJe" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/GpjjJe/'>Office UI Fabric - List Item (Standard)</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="ImageListItem"></a>
      <p class="ms-font-xxl">List Item with Image</p>
      <p class="ms-font-l">You can also take the standard list item and add an image to it, left aligned. This is done by adding another <code>&lt;div&gt;</code> before any text with the CSS class <code>.ms-ListItem-image</code> and then adding an image that's 70px by 70px.</p>

      <!-- codepen snippet -->
      <p data-height="383" data-theme-id="19054" data-slug-hash="MajpeJ" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/MajpeJ/'>Office UI Fabric - List Item (Image)</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="UnreadListItem"></a>
      <p class="ms-font-xxl">Unread List Item</p>
      <p class="ms-font-l">You know how in Outlook there's a little solid-colored vertical bar on the left-hand side of the list item when it is unread? The Office UI Fabric supports this as well. This is done by adding a <code>.is-unread</code> CSS class to the container <code>&lt;div&gt;</code>.</p>

      <!-- codepen snippet -->
      <p data-height="339" data-theme-id="19054" data-slug-hash="BoLWwy" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/BoLWwy/'>Office UI Fabric - List Item (Unread)</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="FlaggedListItem"></a>
      <p class="ms-font-xxl">Unseen/Flagged List Item</p>
      <p class="ms-font-l">Another option is to flag or mark an item as unseen. This adds a little dog-ear like colored element to the top-left corner of the list item. To do this just add the <code>.is-unseen</code> CSS class to the container <code>&lt;div&gt;</code>.</p>

      <!-- codepen snippet -->
      <p data-height="345" data-theme-id="19054" data-slug-hash="EVgWbE" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/EVgWbE/'>Office UI Fabric - List Item (Flagged)</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="Selectable"></a>
      <p class="ms-font-xxl">Selectable List Item</p>
      <p class="ms-font-l">The Office UI Fabric also supports making the list items selectable. To do this you need to add the CSS class <code>.is-selectable</code> to the container <code>&lt;div&gt;</code>. In addition you will need to add another <code>&lt;div&gt;</code> into the container that will be hidden (using the provided <code>.ms-ListItem-selectionTarget</code> class and another class that is wired up to a JavaScript handler to provide the interactivity when the item is clicked.</p>
      <p class="ms-font-l">To select the item, hover over the area where the check would appear and click the empty box that appears. You can also mark an item as selected by adding the CSS class <code>.is-selected</code> to the container <code>&lt;div&gt;</code>.</p>
      <p class="ms-font-l">You will want to add JavaScript to toggle the selected check indicator. An example of this code, using jQuery, can be found in the Office UI Fabric component distribution: <a href="https://github.com/OfficeDev/Office-UI-Fabric/blob/master/dist/components/ListItem/Jquery.ListItem.js" class="ms-Link">Jquery.ListItem.js</a>. This also means that you must include a reference to jQuery as the <code>JQuery.ListItem.js</code> depends on the presence of jQuery.</p>

      <!-- codepen snippet -->
      <p data-height="364" data-theme-id="19054" data-slug-hash="yYaMpb" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/yYaMpb/'>Office UI Fabric - List Item (Selectable)</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

    </article>
  </div>

  <!-- footer -->
  <footer id="page-footer" class="ms-Grid-row ms-Grid-col ms-u-sm12 ms-font-m ms-fontWeight-light ms-fontColor-white">
    <p>Microsoft, Office, Office 365 and SharePoint are registered trademarks of Microsoft Corporation.</p>
    <p>Current Version of the Office UI Fabric used on this site: v1.0.0</p>
  </footer>

</div>

</body>
</html>