<!DOCTYPE html>
<html>

<head lang="en">
  <title>Office UI Fabric - Components - Persona Card</title>
  <meta charset="UTF-8">
  <!-- fav icons -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">

  <!-- azure application insights -->
  <script src="/js/azure-app-insights.js" type="text/javascript"></script>
  
  <!-- codepen -->
  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>

  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />
  <link rel="stylesheet" href="/css/styles.min.css" />
</head>

<body>
<div class="ms-Grid">
  <!-- header -->
  <header id="page-header" class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <div id="brand-name" class="ms-font-su ms-fontWeight-semibold ms-fontColor-white">
      Office Fabric UI
    </div>
    <div id="site-tagline" class="ms-font-l ms-fontColor-white ms-fontWeight-light">
      Demos of the front-end framework for building experiences using Office, Office 365 &amp; SharePoint.
    </div>
  </header>

  <!-- navigation -->
  <nav class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <ul id="global-nav">
      <li class="ms-font-l ms-fontWeight-light"><a href="/">Home</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/features">Features</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/components">Components</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/resources.html">Resources</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/status.html">Status</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/contribute.html">Contribute!</a></li>
    </ul>
  </nav>

  <div class="ms-Grid-row">
    <!-- side-nav -->
    <aside id="local-nav" class="ms-Grid-col ms-u-sm-3 ">
      <ul>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Top">Persona Card</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Usage">Usage</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#ActionButtons">Action Buttons</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="#Presence">Presence</a></li>
      </ul>
    </aside>
  
    <!-- page body -->
    <article id="page-main" class="ms-Grid-col ms-u-sm9 ms-font-m">
      <a name="Top"></a>
      <p class="ms-font-su"><a href="/components" class="ms-Link">Components</a> <i class="ms-Icon ms-Icon--caretRight" aria-hidden="true"></i> Persona</p>
      <p class="ms-font-l">The persona card control takes elements from the persona control and adds some action controls so users can interact with the individual such as view their contact options or initiate contact options.</p>

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="Usage"></a>
      <p class="ms-font-xxl">Usage</p>
      <p class="ms-font-l">This is a fairly complex control that you should refer to the sample implementation in the demo below for reference on the code to use.</p>      
      <p class="ms-font-l">Like the persona control, the persona card control loads a default placeholder image while the referenced person's image is loading or if it fails to load so a broken image is not shown.</p>
      <p class="ms-font-l">You will want to add JavaScript to clear out the placeholder when the control receives focus as shown in the following snippets. An example of this code, using jQuery, can be found in the Office UI Fabric component distribution: <a href="https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/PersonaCard/Jquery.PersonaCard.js" class="ms-Link">Jquery.PersonaCard.js</a>. This also means that you must include a reference to jQuery as the <code>JQuery.PersonaCard.js</code> depends on the presence of jQuery.</p>

      <!-- codepen snippet -->
      <p data-height="394" data-theme-id="19054" data-slug-hash="NGRvxW" data-default-tab="result" data-user="andrewconnell" class='codepen'>See the Pen <a href='http://codepen.io/andrewconnell/pen/NGRvxW/'>Office UI Fabric - Persona Card</a> by Andrew Connell (<a href='http://codepen.io/andrewconnell'>@andrewconnell</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
      <!-- /codepen snippet -->

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>

      <a name="ActionButtons"></a>
      <p class="ms-font-xxl">Action Buttons</p>
      <p class="ms-font-l">The actions at the bottom of the card are implemented using the <code>&lt;ul&gt;</code> element and a class <code>.ms-PersonaCard-actions</code>. Each action is it's own <code>&lt;li&gt;</code> with the class <code>.ms-PersonaCard-action</code>. Each action also has a unique <span class="ms-fontWeight-semibold">id</span> element that is used to enable the cooresponding action's detail pane below it.</p>
      <p class="ms-font-l">The action detail panes are then placed in an <code>&lt;ul&gt;</code> element with the class <code>.ms-PersonaCard-detailChat</code> and wrapped in a <code>&lt;div&gt;</code> with the class <code>.ms-PersonaCard-actionDetailBox</code>. Then each action detail pane is a seperate <code>&lt;li&gt;</code> with the class <code>.ms-PersonaCard-actionDetails</code> and an <span class="ms-fontWeight-semibold">id</span> that matches the same <span class="ms-fontWeight-semibold">id</span> in the action buttons. These matching <span class="ms-fontWeight-semibold">id</span> values are what the script uses to activate each panel. You can indicate which action button is active by adding the class <code>.is-active</code> to the button's <code>&lt;li&gt;</code>.</p>

      <a name="Presence"></a>
      <p class="ms-font-xxl">Presence</p>
      <p class="ms-font-l">The persona card can also show the person's presence state with a little colored circle. With the v1.0.0 release of the Office UI Fabric, it appears the different states are missing from the CSS files, but the sample below shows how you can add the colors in. You can then control the presence by decorating the outter-most <code>&lt;div&gt;</code> with the corresponding CSS class such as <code>.ms-PersonaCard--away</code>.</p>

      <p class="ms-font-l"><i class="ms-Icon ms-Icon--chevronsUp"></i><a href="#Top" class="ms-Link">Back to top</a></p>
    </article>
  </div>

  <!-- footer -->
  <footer id="page-footer" class="ms-Grid-row ms-Grid-col ms-u-sm12 ms-font-m ms-fontWeight-light ms-fontColor-white">
    <p>Microsoft, Office, Office 365 and SharePoint are registered trademarks of Microsoft Corporation.</p>
    <p>Current Version of the Office UI Fabric used on this site: v1.0.0</p>
  </footer>

</div>

</body>
</html>