<!DOCTYPE html>
<html>

<head lang="en">
  <title>Office UI Fabric - Components</title>
  <meta charset="UTF-8">
  <!-- fav icons -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">

  <!-- azure application insights -->
  <script src="/js/azure-app-insights.js" type="text/javascript"></script>
  
  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
  <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />
  <link rel="stylesheet" href="/css/styles.min.css" />
  
  <script type="text/javascript">
    function goComponent(target){
      window.location.href = '/components/'+ target;
    }
    function goIssue(target){
      window.location.href = 'https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues/' + target;
    }
  </script>
</head>

<body>
<div class="ms-Grid">
  <!-- header -->
  <header id="page-header" class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <div id="brand-logo">
      <img src="/img/logo_fabric_glyph.svg" alt="Office Fabric UI" height="88" />
    </div>
    <div id="brand-name">
      <img src="/img/logo_fabric_text.svg" alt="Office Fabric UI" width="137" />
    </div>
    <div id="site-tagline" class="ms-font-l ms-fontColor-white ms-fontWeight-light">
      Demos of the front-end framework for building experiences using Office, Office 365 &amp; SharePoint.
    </div>
  </header>

  <!-- navigation -->
  <nav class="ms-Grid-row ms-Grid-col ms-u-sm12">
    <ul id="global-nav">
      <li class="ms-font-l ms-fontWeight-light"><a href="/">Home</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/features">Features</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/components">Components</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/resources.html">Resources</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/status.html">Status</a></li>
      <li class="ms-font-l ms-fontWeight-light"><a href="/contribute.html">Contribute!</a></li>
    </ul>
  </nav>

  <div class="ms-Grid-row">
    <!-- side-nav -->
    <aside id="local-nav" class="ms-Grid-col ms-u-sm-3 ">
      <ul>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22create+page%3A+components%22"> Components</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22create+page%3A+content%22"> Content</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22create+page%3A+inputs%22"> Inputs</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22create+page%3A+layout%22"> Layout</a></li>
        <li><a class="ms-font-l ms-fontColor-neutralSecondaryAlt" href="https://github.com/ngOfficeUIFabric/officeuifabric.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+%22create+page%3A+navigation%22"> Navigation</a></li>
      </ul>
    </aside>
    
  
  
    <!-- page body -->
    <article id="page-main" class="ms-Grid-col ms-u-sm9 ms-font-m">
      <p class="ms-font-su">Components</p>
      <p class="ms-font-l">View all the components available in the Office UI Fabric. While the site is in progress the icons in the navigation to indicate if the work is <i class="ms-Icon ms-Icon--checkboxEmpty"></i> pending or <i class="ms-Icon ms-Icon--tasks"></i> completed. Items not yet complete will point to the corresponding issue in the GitHub list.</p>

      <p class="ms-font-xxl">Content</p>
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('34');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Link</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('31');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">List Item</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('29');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Persona</span>
            </button>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('30');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Persona Card</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('32');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Spinner</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('33');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Table</span>
            </button>
          </div>
        </div>
      </div>
      <p class="ms-font-xxl">Inputs</p>
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('button');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Buttons</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('choice-field');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Choice Fields</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('16');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Date Picker</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('17');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Dropdown</span>
            </button>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('form-field-label');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Form Field Label</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('search-box');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Search Box</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('text-field');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Text Field</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goComponent('toggle');">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
              <span class="ms-Button-label">Toggle</span>
            </button>
          </div>
        </div>
      </div>

      <p class="ms-font-xxl">Layout</p>
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('22');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Callout</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('21');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Dialog</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('19');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">List Item</span>
            </button>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('20');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Org Chart</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('23');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Overlay</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('24');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Panel</span>
            </button>
          </div>
        </div>
      </div>

      <p class="ms-font-xxl">Navigation</p>
      <div class="ms-Grid">
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('28');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Breadcrumb</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('27');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Contextual Menu</span>
            </button>
          </div>
        </div>
        <div class="ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('25');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Nav Bar</span>
            </button>
          </div>
          <div class="ms-Grid-col ms-u-sm3 ms-font-l">
            <button class="ms-Button ms-Button--hero" onclick="goIssue('26');">
              <span class="ms-Button-icon"><i class="ms-Icon"></i></span>
              <span class="ms-Button-label">Pivots</span>
            </button>
          </div>
        </div>
      </div>

    </article>
  </div>

  <!-- footer -->
  <footer id="page-footer" class="ms-Grid-row ms-Grid-col ms-u-sm12 ms-font-m ms-fontWeight-light ms-fontColor-white">
    <p>Microsoft, Office, Office 365 and SharePoint are registered trademarks of Microsoft Corporation.</p>
    <p>Current Version of the Office UI Fabric used on this site: v1.0.0</p>
  </footer>

</div>

</body>
</html>